<h2>Edit Article</h2>
<form action="/articles/<%=@articles.id%>" method="post"
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" >
    <input type="submit" id="submit" value="submit">
</form>
