<form action="/articles" method="POST">
    <h1>Title: <input id="title" type="text" name="title"></h1>
    <h3>Content: <input id="content" type="text" name="content"></h3>
    <input type="submit">
</form>