<h1>WELCOME TO MEL MAG!! HOME OF THE BEST ARTICLES!!!</h1>


<form>
  <button type="submit" formaction="/articles">Article List</button>
  <br><br>
  <button type="submit" formaction="/articles/new">New Article</button>
  <br><br>
  <!-- <button type="submit" formaction="/articles">Article List</button>
  <br><br> -->

</form>
